<h2><%=t(:'devise.password.forgot.title')%></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit t(:'devise.password.forgot.action') %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>